.about {
  padding: 5% 5%;
  height: calc(100vh - 5rem);
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  column-gap: 2rem;
}

.about-info {
  font-size: 1.75rem;
}

.about-info span {
  color: #00c9a7;
}

.about-photo-img {
  height: 22rem;
}

.about-resume a {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  color: #0f0e17;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  background: #407bff;
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.about-resume a i {
  margin-right: 6px;
  align-items: center;
}

.about-resume {
  margin-top: 5rem;
  display: flex;
}

@media screen and (max-width: 720px) {
  .about-container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 2rem 0;
  }

  .about-info {
    font-size: 1.5rem;
  }

  .about-photo-img {
    height: 22rem;
  }

  .about-resume button {
    font-size: 1rem;
    padding: 0.575rem;
  }
}

@media screen and (min-width: 1170px) {
  .about-container {
    justify-content: center;
    gap: 2rem 0;
  }

  .about-info {
    font-size: 2.5rem;
  }

  .about-photo-img {
    height: 30rem;
  }
}
