.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  height: 5rem;
}

.nav h2 {
  align-self: center;
  color: #407bff;
  font-size: 2.25rem;
  font-style: italic;
}

.nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  color: #407bff;
}

.nav li {
  cursor: pointer;
  margin: 0 1rem;
  transition: all 2s ease;
}

.nav-link {
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #407bff;
}

.nav li a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
}

.nav li a i {
  font-size: 2rem;
}

@media screen and (max-width: 630px) {
  .nav-text {
    display: none;
  }
  .nav h2 {
    font-size: 1.25rem;
  }
}
